.tech{
    width: 100%;
}
.techImgDiv{
    display: flex;
    justify-content: space-evenly;
    background-color: #2c2c2c;
    padding: 3% 0;
    
}
.techHead{
    margin: 15px 10%;
    font-size: 25px;
}
.techImg{
    /* width: 200px; */
    max-height: 35px;
}