.signin{
    width: fit-content;
    position: relative;
    margin: 90% 13%;
    margin-bottom: 0;
}
.signin > div{
    margin-bottom: 5px;
    margin-left: 5px;
} 
.button{
    margin-top: 10px;
    width: 100%;
    padding: 11px 40%;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    border: none;
    border-radius: 100px 100px 100px 100px;
    cursor: pointer;
    transition: all, 240ms ease-in-out;
    background: rgb(241, 196, 15);
    background: linear-gradient(
      58deg,
      rgba(241, 196, 15, 1) 20%,
      rgba(243, 172, 18, 1) 100%
    );
}
 
.switch{
    font-size: 15px;
    margin-top: 10px;
    text-align: center;
}
.span{
    color: rgba(243, 172, 18, 1);
    cursor: pointer;
}
.req{
    margin-bottom: 5px;
    text-align: center;
    font-size: 15px;
    color: rgb(255, 41, 41);
}